* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5 {
  margin: 0;
}

.wrapper {
  max-width: 900px;
  margin: auto;
}

.white {
  color: white;
}

.btn {
  background-color: #FFDF39;
  padding: 15px;
  font-weight: bold;
  border-radius: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, rgba(13,36,47,1) 6%, rgba(19,48,77,1) 100%);
  position: sticky;
  top: 0;
  padding: 20px 30px;
}

header a {
  margin: 10px;
}

h1 span {
  color: #F0EAB1;
}

#land {
  background: url("./1.jpg");
  background-size: cover;
  height: 850px;
  
}

#land h1 {
  font-size: 45px;
}

#land p {
  font-size: 25px;
}

#land .secondary {
  background-color: white;
  width: 520px;
  border-radius: 30px;
  padding: 40px 60px;
  margin-top: 90px;
  margin-bottom: 60px;
}

#land h2 {
  font-size: 32px;
}

#land li {
  font-size: 20px;
  line-height: 40px;
}

#section2 {
  background: url("./2.jpg");
  background-size: cover;
}

#section2 h3 {
  font-size: 50px;
}

#section2 .wrapper {
  display: flex;
  justify-content: flex-end;
}

#section2 .content {
  width: 350px;
  margin-top: 100px;
  margin-bottom: 100px;
}

#section2 .card {
  background-color: #072136;
  border-radius: 30px;
  padding: 40px;
}

#section2 p {
  font-size: 23px;
}
#section3  img{
  height: 600px;
  width: 1100px;  
}

#section3 {
  background: url('./3.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  font-size: 30px;
  color: black;
  padding: 60px 60px 80px;   
  border-radius: 4%;
}

#section3 .par {
  background: url(./5.jpg);
  background-size: cover;
  padding: 50px 35% 50px 50px;
  border-radius: 40px;

}

#section4 iframe {
  width: 100%;
  height: 507px;
  border-radius: 35px;
  margin-top: 100px;
}

#section5{
  margin-top: 100px;
}

#section5 .content {
  display: flex;
  align-items: center;
}

#section5 img {
  height: 300px;
  /* width: 100%; */
}

#section5 h3 {
  font-size: 35px;
  text-align: center;
}

#section5 li {
  font-size: 25px;
  line-height: 40px;
}
#section6 h2{
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#section6 {
  margin-top: 100px;
}

#section6 .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

#section6 .card {
  width: 200px;
  width: 200px;
  margin: 20px;
}

#section6 img {
  width: 100%;
  border-radius: 15px;
}

#section6 p {
  font-size: 23px;
  padding: 10px 20px;
}

#section6 button {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 30px;
  font-size: 20px;
  background-color: white;
  border-radius: 5px;
  margin-left: 50px;
}

#section7 label {
  display: flex;
  margin-left: 250px;
  
}

#section7 input {
  display: flex;
  margin-left: 250px;
  width: 400px;
  height: 30px;
  border-radius: 18px;
}
#section7 .terms {
  width: 15px;
  height: 15px;
  display: inline-block;
}

#section7 .label-terms {
  margin-left: 10px;
  display: inline-block;
}

#section7 h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    margin-bottom: 60px;
}